/* 1. HLAVNÍ ČERVENÁ KRABICE */
.hero {
    /*border: 5px solid red;*/
    padding: 20px;
    overflow: auto;
}

/* 2. LEVÁ MODRÁ KRABICE */
.levySloupec {
    /*border: 3px solid blue;*/
    padding: 10px;
    width: 45%;
    float: left;
    text-align: center;
    margin-left: 99px;
}

/* ZVÝRAZNĚNÍ TEXTU (SPAN) */
.zvyrazneni {
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

/* 3. PRAVÁ ZELENÁ KRABICE */
.pravySloupec {
    /*border: 3px solid green;*/
    padding: 10px;

    /* TOTO JE ODPOVĚĎ NA VAŠI OTÁZKU: */
    /*margin-top: 20px;       /* Odstrčí se od krabice nad sebou o 20 pixelů */
    width: 45%;
    float: right;
    margin-left: 5px;
    text-align: center;
}

/*.prostredniSloupec {
    border: 3px solid orange;
    padding: 10px;
    width: 30%;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
}*/

.badge {
    background-color: blue;
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 50px;
}

.levySloupec h1 {
    font-size: 3.5rem;
    font-weight: normal;
    line-height: 1.2;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.tlacitko1 {
    /* 1. Aby se chovalo jako krabička (mohli jsme měnit velikost), ne jako text */
    display: inline-block;
    
    /* 2. Vzhled - použijeme váš gradient */
    background: linear-gradient(135deg, #1e30f3 0%, #e21e80 100%);
    color: white;           /* Bílý text */
    
    /* 3. Zrušení podtržení, které mají odkazy automaticky */
    text-decoration: none;
    
    /* 4. Tvar a velikost */
    padding: 10px 20px;     /* Nafouknutí: 15px nahoře/dole, 30px vlevo/vpravo */
    border-radius: 50px;    /* Úplně kulaté rohy (pilulka) */
    
    /* 5. Písmo */
    font-family: 'Courier New', Courier, monospace; /* Stejný font jako zbytek */
    font-weight: bold;
    font-size: 0.9rem;
}

.zarovnaniVlevo {
    text-align: left;
    margin-left: 150px;
}